{% extends "layouts/base.html" %}

{% block title %} Cadastro de fornecedor {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="card">
            <div class="card-header card-header-primary">
              <h4 class="card-title">Cadastro de fornecedor</h4>
              <p class="card-category">Inclua fornecedores não cadastrados na Trezentos</p>
            </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
