{% extends "layouts/base.html" %}

{% block title %} Ordem de compra {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <div class="form-group">
                        <form method='POST'> {% csrf_token %}
                            {{forms.as_p }}
                        <input type = "submit" value = 'Save' />
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  
{% endblock javascripts %}
