{% extends "layouts/base.html" %}

{% block title %} Ordem de compra {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Criação de ordem de compra</h4>
          <p class="card-category">Acrescente informações necessárias</p>
        </div>
                <div class="card-body">
                    <div class="form-group fieldWrapper">
                        <form method='POST'> {% csrf_token %}
                            <h3>Informações gerais</h3>
                            <div class="row">

                                <div class="col-md-4">
                                    {{forms.nome.label_tag}}
                                    {{forms.nome}}
                                </div>
                                <div class="col-md-4">
                                    {{forms.dataentrega.label_tag}}
                                    {{forms.dataentrega}}
                                </div>
                                 <div class="col-md-4">
                                    {{forms.data.label_tag}}
                                    {{forms.data}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{forms.disciplina.label_tag}}
                                    {{forms.disciplina}}
                                </div>
                                <div class="col-md-4">
                                    {{forms.referencia.label_tag}}
                                    {{forms.referencia}}
                                </div>
                                 <div class="col-md-4">
                                    {{forms.revisao.label_tag}}
                                    {{forms.revisao}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    {{forms.nomedaobra.label_tag}}
                                    {{forms.nomedaobra}}
                                </div>
                                <div class="col-md-4">
                                    {{forms.numerooc.label_tag}}
                                    {{forms.numerooc}}
                                </div>
                                 <div class="col-md-4">
                                    {{forms.faturador.label_tag}}
                                    {{forms.faturador}}
                                </div>
                            </div>

                            <hr class="separador">
                            <h3>Informações da entrega</h3>
                            <div class="row">

                                <div class="col-md-4">
                                    {{forms.enderecoentrega.label_tag}}
                                    {{forms.enderecoentrega}}
                                </div>
                                <div class="col-md-4">
                                    {{forms.responsavel.label_tag}}
                                    {{forms.responsavel}}
                                </div>
                                 <div class="col-md-4">
                                    {{forms.telefoneresponsavel.label_tag}}
                                    {{forms.telefoneresponsavel}}
                                </div>
                            </div>
                            <br>
                            <hr class="separador">
                            <h3>Informações de pagamento</h3>
                            <div class="row">

                                <div class="col-md-4">
                                    {{forms.valor.label_tag}}
                                    {{forms.valor}}
                                </div>
                                <div class="col-md-4">
                                    {{forms.DDL.label_tag}}
                                    {{forms.DDL}}
                                </div>
                                 <div class="col-md-4">
                                    {{forms.datapg.label_tag}}
                                    {{forms.datapg}}
                                </div>
                            </div>
                            <div class="row">

                                 <div class="col-md-6">
                                    {{forms.obs.label_tag}}
                                    {{forms.obs}}
                                </div>
                                <div class="col-md-6">
                                    {{forms.descritivo.label_tag}}
                                    {{forms.descritivo}}
                                </div>

                            </div>
                            </div>
                            <br>
                            <input type = "submit" value = 'Criar OC' />
                            <button type="button" value = 'Gerar PDF'>
                                
                            </button>
                         </form>

<!--                        <form method='POST'> {% csrf_token %}-->
<!--                            {{forms.as_p }}-->
<!--                            {{forms2.as_p}}-->
<!--                        <input type = "submit" value = 'Save' />-->
<!--                        </form>-->

                    </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  
{% endblock javascripts %}
