{% extends "layouts/base.html" %}

{% block title %} Ordem de compra {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">Criação de ordem de compra</h4>
          <p class="card-category">Acrescente informações necessárias</p>
        </div>
                <div class="card-body">
                    <div class="form-group fieldWrapper">
                        <form action="submit-order" method="POST"> {% csrf_token %}
                            <h3>Informações gerais</h3>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome</label>
                                        <input type="text" class="form-control" name="nome" >
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Data de Entrega</label>
                                        <input type="date" class="form-control" name="dataentrega">
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Data</label>
                                        <input type="date" class="form-control" name="data">
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Disciplina</label>
                                        <input type="text" class="form-control" name="disciplina">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Referencia</label>
                                        <input type="text" class="form-control" name="referencia">
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label class="bmd-label-floating">Revisão</label>
                                         <input type="text" class="form-control" name="revisao">
                                     </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome da Obra</label>
                                        <input type="text" class="form-control" name="nomedaobra">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Número da OC</label>
                                        <input type="number" class="form-control" name="numerooc">
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label class="bmd-label-floating">Fatura para</label>
                                         <input type="text" class="form-control" name="faturador">
                                     </div>
                                </div>
                            </div>

                            <hr class="separador">
                            <h3>Informações da entrega</h3>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Endereço de Entrega</label>
                                        <input type="text" class="form-control" name="enderecoentrega">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Responsável</label>
                                        <input type="text" class="form-control" name="responsavel">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Telefone do Responsável</label>
                                        <input type="number" class="form-control" name="telefoneresponsavel">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <hr class="separador">
                            <h3>Informações de pagamento</h3>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Valor</label>
                                        <input type="number" class="form-control" name="valor">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">DDL</label>
                                        <input type="text" class="form-control" name="DDL">
                                    </div>
                                </div>

                                 <div class="col-md-4">
                                     <div class="form-group">
                                         <label>Data de Pagamento</label>
                                         <input type="date" class="form-control" name="datapg">
                                     </div>
                                </div>
                            </div>

                            <div class="row">

                                 <div class="col-md-6">
                                     <div class="form-group">
                                         <label class="bmd-label-floating">Observações</label>
                                         <input type="text" class="form-control" name="obs">
                                     </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Descrição</label>
                                        <input type="text" class="form-control" name="descritivo">
                                    </div>
                                </div>

                            </div>

                            <br>
                                <button type="submit" class="btn btn-primary pull-right">Criar OC</button>

<!--                            <input type = "submit" value = 'Criar OC' />-->
<!--                            <button type="button" value = 'Gerar PDF'>-->
<!---->
<!--                            </button>-->
                         </form>
                    </div>
                </div>
      </div>
    </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}


  
{% endblock javascripts %}

