{% extends "layouts/base.html" %}

{% block title %} Ordem de Compra {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Editar informações da obra</h4>
                  <p class="card-category">Acrescente informações necessárias</p>
                </div>
                <div class="card-body">
                  <form>
                    <div class="row">
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="bmd-label-floating">UserID (disabled)</label>
                          <input type="text" class="form-control" disabled value="{{ user.profile.id }}">
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nome da Obra</label>
                          <input type="text" class="form-control" value="{{ request.user.username }}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email do responsável </label>
                          <input type="email" class="form-control" value="{{ request.user.email }}">
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Gestor Trezentos</label>
                          <input type="text" class="form-control" value = "{{ user.profile.gerenteContrato }}">
                        </div>
                      </div>

                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Ponto focal do cliente</label>
                          <input type="text" class="form-control" value="{{user.profile.pontoFocalCliente}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Endereço da obra</label>
                          <input type="text" class="form-control" value="{{user.profile.enderecoObra}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Cidade da obra</label>
                          <input type="text" class="form-control" value="{{user.profile.cidadeObra}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Estado da Obra</label>
                          <input type="text" class="form-control" value="{{user.profile.estadoObra}}">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">CEP</label>
                          <input type="text" class="form-control" value="{{user.profile.cepObra}}">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Mais detalhes</label>
                          <div class="form-group">
                            <label class="bmd-label-floating"> </label>
                            <textarea id = "info" class="form-control"value="{{user.profile.infoGeral}}" rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button  type="submit" class="btn btn-primary pull-right">Atualizar</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/static/assets/img/obra.jpg" width="40%" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">
                    {{ request.user.username }}
                  </h6>
                  <h2>
                    Dias até o deadline: 23
                  </h2>
                  <h4 class="card-title">
                    Data de início: {{ user.profile.dataIncio }}
                  </h4>
                  <h4 class="card-title">
                    Data de fim: {{user.profile.dataFim}}
                  </h4>


                </div>
              </div>
            </div>
          </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
