{% extends "layouts/base.html" %}

{% block title %} Fornecedores Cadastrados {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Fornecedores Cadastrados</h4>
                  <p class="card-category"> Lista de fornecedores autorizados</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                           Action
                        </th>
                        <th>
                          Nome
                        </th>
                        <th>
                          Razão Social
                        </th>
                        <th>
                          CNPJ
                        </th>
                        <th>
                          Endereço
                        </th>
                        <th>
                          Telefone
                        </th>
                      </thead>
                      <tbody>
               {% for fornecedor in fornecedor%}

                        <tr>
                            <td>
                                Pick
                            </td>
                          <td>
                            {{fornecedor.nome}}
                          </td>
                          <td>
                            {{fornecedor.razaosocial}}
                          </td>
                          <td>
                            {{fornecedor.cnpj}}
                          </td>
                          <td>
                            {{fornecedor.enderecom}}
                          </td>
                          <td class="text-primary">
                            {{fornecedor.telefone}}
                          </td>
                        </tr>
               {%endfor %}


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
